/* 设计样式 */

/* 面包屑修改 */
.design-nav {
    padding: 0;
    margin: 0 0 60px 0;
    border-bottom: 1px solid #ddd;
}
.design-nav .breadcrumb {
    border-bottom: none;
}
.design-nav ul {
    float: right;
    list-style: none;
    padding: 0 0 5px 0;
    margin-bottom: 0;
}

.design-nav li {
    float: left;
}

.design-nav ul li a {
    padding: 0 6px;
}

.design-nav ul li a:hover {
    color: #555;
}
.design-nav li+li:before {
    padding: 0 5px;
    color: #ccc;
    content: "/\00a0";
}

/* 作品列表 */
.content-mian-design {
    border-bottom: 1px solid #ddd;
    padding-bottom: 40px;
    overflow: hidden;
}
.content-mian-design .design-box {
    margin-bottom: 30px;
}
.content-mian-design .design-box .design-box-2 {
    width: 100%;
    border: 10px solid #fff;
    box-shadow: 0 0 2px rgb(175, 175, 175);
    position: relative;
}
.content-mian-design .design-box .design-box-2:hover {
    box-shadow: 0 0 6px rgb(175, 175, 175);
}
.content-mian-design .design-box .design-box-2 img{
    width: 100%;
    height: 100%;
}
.content-mian-design .design-box .design-box-2 .shiloh-over {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    filter: alpha(opacity=0);
    width: 100%;
    line-height: 2;
    padding: 20px;
    color: #888;
    background: #fff;
    background: rgba(255, 255, 255, 0.8);
}
.content-mian-design .design-box .design-box-2 .shiloh-over:hover {
    opacity: 1;
}
.content-mian-design .design-box .design-box-2 .shiloh-over h3 {
    margin: 0;
}
.content-mian-design .design-box .design-box-2 .shiloh-over .timestamp {
    position: absolute;
    bottom: 10px;
}

/* 设计详情页 */
.design-content {
    padding-bottom: 80px;
    padding-top: 40px;
}
@media(min-width: 992px){
    .design-content #content{
        padding-right: 60px;
    }
}
.design-content #content img {
    max-width: 100%;
    height: auto;
}

/* 边栏 */
.design-sidbar {
    padding: 0;
}
.design-sidbar .design-sidbar-content {
    padding: 20px;
    background: #f9f9f9;
    border: 1px solid #eee;
    margin-bottom: 20px;
}
@media (min-width: 992px) {
    .design-sidbar .design-sidbar-content {
        width: 242px;
    }
}
@media (min-width: 1200px) {
    .design-sidbar .design-sidbar-content {
        width: 292px;
    }
}
.design-sidbar .design-sidbar-content p {
    font-size: 1em;
    color: #767676;
    padding-top: 0;
    margin-bottom: 0;
    font-weight: 400;
}

.design-sidbar .design-sidbar-content .design-deta {
    margin: 10px 0 20px;
    font-size: 16px;
    font-weight: 400;
    color: #91959c;
}

/* 工具 */
.design-sidbar .design-sidbar-content .design-tool {
    overflow: hidden;
    padding-bottom: 30px;
    color: #f9f9f9;
}
.design-sidbar .design-sidbar-content .design-tool img{
    width: 100%;
}
.tool-box-box {
    width: 36px;
    float: left;
    margin-right: 14px;
    margin-bottom: -10px;
    padding-bottom: 10px;
}

.tool-box-two {
    width: 36px;
    height: 50px;
    padding-bottom: 14px;
    /* margin-top: 10px; */
    -webkit-transform: translateY(-36px);
    position: absolute;
    z-index: 1;
}

.tool-box-two:hover .tool-box-over {
    opacity: 1;
    visibility: visible;
}

.tool-box-over {
    background: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
    -webkit-transform: translateX(-40%) translateY(50px);
    /* visibility: hidden; */
    opacity: 0;
    border-radius: 4px;
    font-size: 11px;
    height: auto;
    min-height: 10px;
    padding: 16px 12px;
    position: absolute;
    width: 240px;
    z-index: 1;
    visibility: hidden;
}

.tool-box-over:before {
    content: "";
    background: #fff;
    box-shadow: -2px -2px 0 -1px #c4c4c4;
    width: 10px;
    height: 10px;
    /* top: -10PX; */
    left: 48%;
    margin-left: -5px;
    position: absolute;
    top: -4px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.tool-box-over strong {
    color: #333;
}

/* 标签 */
.design-sidbar .design-sidbar-content .design-tags {
    border-top: 1px solid #efefef;
    border-bottom: 1px solid #efefef;
    padding-top: 20px;
    padding-bottom: 20px;
}
.design-tags strong{
    font-size: 16px;
    font-weight: 400;
    color: #91959c;
}
.design-tags .design-tags-box {
    overflow: hidden;
    margin-top: 10px;
}

.design-tags .design-tags-box a {
    border: 1px solid #c7c7c7;
    color: #232323;
    padding: 3px 9px 4px;
    border-radius: 3px;
    float: left;
    margin: 0 7px 7px 0;
    font-size: 0.9em;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fbfbfb), to(#e9e9e9));
}

.design-tags .design-tags-box a:hover {
    background: #007aff;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#0096ff), to(#005dff));
    background: -webkit-linear-gradient(0% 0%, 0% 100%, from(#0096ff), to(#005dff));
    background: -moz-linear-gradient(center top, #0096ff, #005dff);
    background: linear-gradient(#0096ff, #005dff);
    border-color: #0071e0;
    color: #fff;
}

/* 版权 */
.design-sidbar .design-sidbar-content .design-banquan {
    color: #6c99bf;
    padding: 20px 10px 10px;
    line-height: 1.7;
    font-size: 0.9em;
    text-align: justify;
}



