/* 页脚 */


/* footer {
    background-color: #f9f9f9;
    border-top: 1px solid #eee;
}
.footer {
    padding: 40px 0;
}
.footer .img-footer {
    text-align: center;
}
.footer .img-footer img.no1 {
    height: 100px;
    width: auto;
    padding-right: 20px;
    border-right: 1px solid #ddd;
    margin-right: 20px;
}
.footer .img-footer img.no2 {
    height: 130px;
    width: auto;
}
.footer .info-footer {
    text-align: center;
    font-size: 2.5rem;
    border-top: 1px dotted #ddd;
    padding-top: 20px;
    margin-top: 10px;
}
.footer .info-footer a {
    color: #999;
}
.footer .info-footer a:hover {
    color: #2098f5;
} */


/* 备案 */

.footer-beian {
    background-color: #f9f9f9;
    border-top: 1px solid #eee;
    padding: 10px 0;
}
.footer-beian p {
    font-size: 0.9em;
    text-align: center;
    line-height: 1em;
    padding-top: 10px;
    margin: 0;
}
.footer-beian p a {
    color: #6eabe4;
}

/* 返回顶部插件 */

#goToTop {
    position: fixed;
    bottom: 20px;
    background: #fff;
    margin-left: 87px;
    z-index: 1;
}
#goToTop a {
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 40px;
    z-index: 1;
    box-shadow: 0 0 2px rgb(175, 175, 175);
    border-radius: 2px;
    background: #fff;
}
#goToTop a:hover {
    box-shadow: 0 0 4px #2098f5;
}
#goToTop a .glyphicon-arrow-up {
    font-size: 24px;
    padding: 7px;
    color: #ddd;
}
#goToTop a:hover .glyphicon-arrow-up {
    font-size: 24px;
    padding: 7px;
    color: #2098f5;
}

/* mine */

.mine-bigbox {
    overflow: hidden;
    margin: 40px 0 0;
    padding: 40px 0;
    border-top: 1px solid #efefef;
}
.mine-bigbox .mine-header-img {
    width: 20%;
    float: left;
}
.mine-bigbox .mine-about-box {
    width: 80%;
    float: left;
    padding-left: 40px;
}
.mine-bigbox .mine-about-box p {
    font-size: 1.1em;
    line-height: 1.8em;
    margin: 0 0 1em;
    color: #999;
}
.mine-bigbox .info-footer {
    width: 80%;
    float: left;
    padding-left: 40px;
}
.mine-bigbox .info-footer .box {
    border-top: 1px solid #eee;
    padding: 10px 0;
}
.mine-bigbox .info-footer a {
    font-size: 2em;
    color: #aaa;
}
.mine-bigbox .info-footer a:hover {
    color: #2098f5;
}
